
@model Association

<div>
    <h2>@ViewBag.CategoryDetail.Name</h2>
<div>
    @foreach (var prod in ViewBag.CategoryProduct.Associations)
    {
        <li>@prod.Product.ProductName</li>
    }
    
</div>

<form asp-action="ProdCatJoin" asp-controller="Category"  asp-route-categoryId="@ViewBag.CategoryDetail.CategoryId" method = "post">
    <label asp-for="ProductId"></label>
    <select asp-for="ProductId">
        <option value="">Select</option>
        @foreach (Product prod in ViewBag.selectProduct)
        {
            <option value="@prod.ProductId">@prod.ProductName</option>
        }
    </select>
    <button>Add</button>
</form>
</div>