
@model Association

        <h3>Related Categories</h3>
        <h4>@ViewBag.ProductDetails.ProductName</h4>
        @foreach (var cat in ViewBag.ProductCategory.Associations)
        {
            <li>@cat.Category.Name</li>
        }
        
    </div>
    
    <form asp-action="CatProdJoin" asp-route-productId="@ViewBag.ProductDetails.ProductId" asp-controller="Product" method = "post">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId">
            <option value="">Select</option>
            @foreach (Category cat in ViewBag.selectCategory)
            {
                <option value="@cat.CategoryId">@cat.Name</option>
            }
            
        </select>
        <button>Add</button>
    </form>
</div>